<!DOCTYPE html>
<html>
<head>
    <title>Prime TV Datasets</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Prime TV Datasets</h1>
    <table>
        <thead>
            <tr>
                <th>SR. No.</th>
                <th>Name of the TV Show</th>
                <th>Year of Release</th>
                <th>No of Seasons</th>
                <th>Language</th>
                <th>Genre</th>
                <th>IMBD Rating</th>
                <th>Age of Viewers</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
