<!DOCTYPE html>
<html>
<head>
	<title>Prime TV Data Sets</title>
	<link href="./resources/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Prime TV Data Sets</h1>
	</header>
	<main>
		<h2>Welcome to the Prime TV Data Sets website!</h2>
		<p>Here, you can find information about our various TV show data sets, including:</p>
		<ul>
			<li>Name of the TV Show</li>
		    <li>Year of Release</li>
		    <li>No of Seasons</li>
		    <li>Genre</li>
		    <li>IMBD Rating</li>
		    <li>Age of Viewers</li>
		</ul>
		<p>Stay tuned for updates and new data sets!</p>
	</main>
</body>
</html>